@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	background: #010101;
	display: flex;
	height: 100dvh;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	color: #f1f1f1;
	font-family: Roboto;
}

a {
	color: #f1f1f1;
	text-decoration: none;
	font-size: 2rem;
	transition: all 1s ease;
}
a:hover {
	color: lightcyan;
}


ul {
	margin-top: 20px;
	display: flex;
	gap: 10px;
}

ul, li {
	list-style: none;
}



@media(max-width: 1000px) {
	img {
		width: 300px;
		height: auto;
	}
}
